@import "tailwindcss";
.active {
  color: #4304f1;
}
body {
  background-color: #121212;
  color: #fff;
}


.navbar {
  display: flex;
  gap: 20px;
  background-color: #f1c604;
}

.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #121212;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1);
  z-index: 1;
  flex-direction: column;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
